/*--------------------------
        RESET
--------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------------------
        GENERAL
--------------------------*/

body {
    font-family: "roboto", sans-serif;
    background-color: aqua;
}

/*--------------------------
        HEADER
--------------------------*/

.logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 45px;
}

header {
    background-color: white;
    padding: 20px 25px;
    margin-bottom: 30px;
}

/*--------------------------
        MAIN
--------------------------*/

main {
    background-color: yellow;
    width: 800px;
    margin: 0 auto;
    /*border-radius: 20px;*/
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topmain {

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.btn {
    padding: 8px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid;
    font-size: 12px;
}

.btn-blue {
    background-color: #14AAF5;
    color: #ffffff;
    border-color: #14AAF5;
}

.btn-grey {
    background-color: transparent;
    color: #C4CBD0;
    border-color:  #C4CBD0;
    ;
}